.container {
	background-color: var(--primary-default);
	height: var(--header-height);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

.content {
	height: var(--header-height);
	max-width: var(--container-max-width);
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.title {
	height: var(--header-height);
	font-size: 3rem;
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: var(--spacing-extra-large);
	letter-spacing: var(--spacing-small);
}

.placeholder {
	width: 100%;
	height: var(--header-height);
}
