.container {
  position: relative;
  width: 100%;

  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.input {
  margin-top: 4px;
  width: 100%;
  height: 44px;
  background-color: #f9f9f9;
  border-radius: 2px;
  border: solid 1px #c7c7c7;
  padding: 8px 12px;
  font-size: 1.8rem;

  &:focus {
    outline: 1px solid #ff8f00;
  }
}

.password_icon {
  position: absolute;
  top: 40px;
  right: 16px;
  cursor: pointer;

  @media (max-width: 900px) {
    top: 34px;
  }
}

.label {
  font-size: 1.8rem;
}

.error {
  margin-top: 4px;
  color: #c62828;
}
