@use '../../constants.scss';

.container {
	position: relative;
	width: 100%;

	&:not(:first-of-type) {
		margin-top: 8px;
	}
}

.input {
	margin-top: 4px;
	width: 100%;
	height: var(--input-height-normal);
	background-color: #f9f9f9;
	border-radius: 2px;
	border: solid 1px #c7c7c7;
	padding: 8px 12px;
	font-size: 1.8rem;

	&:focus {
		outline: 1px solid var(--primary-default);
	}
}

.password {
	&__icon {
		position: absolute;
		cursor: pointer;
		bottom: var(--input-error-height-normal);
		right: var(--spacing-extra-large);
		width: var(--icon-normal-width);
		height: var(--input-height-normal);

		@media #{constants.$tablet} {
			top: 34px;
		}
	}
}

.label {
	font-size: 1.8rem;
}

.error {
	height: var(--input-error-height-normal);
	color: #c62828;
}
