$mobile: '(max-width: 768px)';
$tablet: '(max-width: 992px)';
$desktop: '(min-width: 993px)';

:root {
	--primary-default: #fbc02d;
	--primary-light: #fff263;
	--primary-dark: #c49000;

	--spacing-small: 4px;
	--spacing-normal: calc (2 * var(--spacing-small));
	--spacing-large: calc (3 * var(--spacing-small));
	--spacing-extra-large: calc (4 * var(--spacing-small));

	--header-height: 80px;
	--container-max-width: 1200px;
}
