@use './constants.scss';

:root {
	font-size: 62.5%;
	background-color: #f4f4f4;

	@media #{constants.$tablet} {
		font-size: 60%;
	}

	@media #{constants.$mobile} {
		font-size: 50%;
		position: fixed;
		overflow-y: hidden;
	}
}

@font-face {
	font-family: 'Hachi Maru Pop';
	src: url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
	unicode-range: U+30A0 –30FF;
}

@font-face {
	font-family: 'Cabin';
	src: url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
}

body {
	font-family: 'Cabin', 'Hachi Maru Pop', sans-serif;
	font-size: 1.6rem;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}
