@use './constants.scss';

:root {
	font-size: 62.5%;
	background-color: #f4f4f4;

	// CSS Variables
	--primary-default: #fbc02d;
	--primary-light: #fff263;
	--primary-dark: #c49000;

	--radiant: #33691e;
	--dire: #b71c1c;

	--spacing-small: 4px;
	--spacing-normal: calc(2 * var(--spacing-small));
	--spacing-large: calc(3 * var(--spacing-small));
	--spacing-extra-large: calc(4 * var(--spacing-small));

	--header-height: 80px;
	--container-max-width: 1200px;

	--avatar-normal-width: 80px;
	--avatar-normal-height: 40px;

	@media #{constants.$tablet} {
		font-size: 60%;
	}

	@media #{constants.$mobile} {
		font-size: 50%;
		--container-max-width: calc(100vw - var(--spacing-large));
	}
}

@font-face {
	font-family: 'Hachi Maru Pop';
	src: url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
	unicode-range: U+30A0 –30FF;
}

@font-face {
	font-family: 'Cabin';
	src: url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
}

body {
	font-family: 'Cabin', 'Hachi Maru Pop', sans-serif;
	font-size: 1.6rem;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}
